/* GENERIC */
body{
  color: #3a382b}
a {
  color: #ffe900}
a:hover {
  color: #ccbb00}

/* MENU ON LARGE SCREEN */
@media screen and (min-width: 481px){
  body>#layout>.menu {
    background-color: #403f2f}
  #taskmenu .selected.button:before {
    color: #ffe900}
  #taskmenu a.selected {
    background: #5d5b46}
  #taskmenu a:hover {
    background: #5d5b46}
  #taskmenu .special-buttons {
    background-color: #403f2f}}

/* MENU ON SMALL SCREEN */
@media screen and (max-width: 768px){
  .toolbar.listing a {
    color: #3a382b}}
html.layout-small .popover-header, html.layout-phone .popover-header {
  background-color: #847900}

/* HEADER */
body>#layout>div>.header {
  border-bottom: 1px solid #dddcd3;
  color: #3a382b}
.header a.button {
  color: #3a382b}
.listing li.selected > div {
  background-color: #fffdea}
.listing tbody td, .listing li a {
  color: #3a382b}

/* RIGHT MENUS */
html:not(.touch) .listing li>a:focus, html:not(.touch) .listing.focus tbody tr.focused>td:first-child, html:not(.touch) .listing.focus:not(.withselection) tbody tr.focused>td.selection+td {
  border-left: 2px solid #fff69e}
ul.treelist li.selected>div>a, ul.treelist li.selected>a {
  background-color: #fffdea}
.folderlist li.mailbox .unreadcount{
  background: #ffe900}
.folderlist li.mailbox.selected .unreadcount {
  background: #feee38}
.messagelist td.subject span.fromto {
  color: #828062}
.messagelist td.subject span.date {
  color: #828062}
.quota-widget {
  color: #828062}
.quota-widget .bar {
  border: 1px solid #dddcd3}
.quota-widget .count {
  color: #828062}
.quota-widget .value {
  background-color: #feee38}
#radio .quota-widget .value.buffered {
  background-color: #fbf297}
.listing-info {
  color: #828062}
.listing tbody td a {
  color: #3a382b}
.listing li.selected, .listing tr.selected td {
  background-color: #fffdea}
.toolbar.pagenav .pagenav-text {
  color: #828062}
.toolbar.listing a, .toolbar a {
  color: #3a382b}

/* FORMS */
.form-control {
  color: #3a382b}
.toolbarmenu.listing li:hover.checkbox>label, .toolbarmenu.listing li:hover input.icon-checkbox+label:before, .toolbarmenu.listing li:hover a.active {
  background-color: #feee38;}
.listing li > div a.quickview:before {
  color: #ffe900}
.form-control:focus {
  color:#3a382b;
  border-color:#feee38;
  box-shadow:0 0 0 .2rem rgba(255, 239, 56, 0.25)}
.ui.alert>i.icon {
  color: #65634c}
.ui.alert.boxinformation {
  background-color: rgba(255, 239, 56, 0.15)}
.ui.alert a:not(.btn) {
  color: #feee38}
.form-control-plaintext {
  color: #2a2922}
.input-group-text {
  color: #3a382b;
  background-color: #f3f3f0}

/* BUTTONS */
.btn-primary {
  background:#feee38;
  border-color:#feee38}
.btn-primary:focus{
  box-shadow:0 0 0 .2rem rgba(255, 239, 56, 0.5)}
.btn-primary:hover{
  background: #ffec1e;
  border-color: #ffeb14}
.btn-primary.disabled,.btn-primary:disabled{
  background:#fff69e;
  border-color:#fff69e}
.btn-primary:not(:disabled):not(.disabled):active,.btn-primary:not(:disabled):not(.disabled).active{
  background:#ffea05;
  border-color:#f9e500}
.btn-primary:not(:disabled):not(.disabled):active:focus,.btn-primary:not(:disabled):not(.disabled).active:focus{
  box-shadow:0 0 0 .2rem rgba(255, 239, 56, 0.53)}
.btn-secondary{
  background:#a7a48a;
  border-color:#a7a48a}
.btn-secondary:focus{
  box-shadow:0 0 0 .2rem rgba(167, 165, 139, 0.5)}
.btn-secondary:hover{
  background:#9c997c;
  border-color:#979576}
.btn-secondary.disabled,.btn-secondary:disabled{
  border-color:#d3d1c4}
.btn-secondary:not(:disabled):not(.disabled):active,.btn-secondary:not(:disabled):not(.disabled).active{
  background:#918e6d;
  border-color:#8a876a}
.btn-secondary:not(:disabled):not(.disabled):active:focus,.btn-secondary:not(:disabled):not(.disabled).active:focus{
  box-shadow:0 0 0 .2rem rgba(167, 165, 139, 0.53)}
.floating-action-buttons a.button{
  background:#feee38;
  box-shadow:0 0 5px 5px #fffdea}

/* INPUTS */
.input-group-text input:focus{
  border-color:#feee38 !important}
html:not(.touch) .listing li>a:focus,html:not(.touch) .listing.focus tbody tr.focused>td:first-child,html:not(.touch) .listing.focus:not(.withselection) tbody tr.focused>td.selection+td{
  border-left:2px solid #fff69e}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset a.btn-link:focus{
  background-color:rgba(255, 239, 56, 0.5)}

/* RADIO */
input.icon-checkbox:checked+label:before {
  color: #feee38 !important}
input.icon-checkbox+label:before {
  color: #feee38 !important}

/* SEARCH BAR */
.searchbar form:before {
  color: #828062}
.searchbar a.button{
  color:#3a382b}

/* jQUERY DATEPICKER */
.ui-datepicker .ui-state-default, .ui-datepicker.ui-widget-content .ui-state-default {
  color: #3a382b}
.ui-datepicker .ui-state-highlight, .ui-datepicker.ui-widget-content .ui-state-highlight {
  background: #fffbd1}
.ui-datepicker .ui-state-active, .ui-datepicker.ui-widget-content .ui-state-active {
  background: #fff051}
.calendar-datepicker .ui-datepicker-header {
  background-color: #f3f3f0;
  border-top: 1px solid #dddcd3}

/* MESSAGE STACK - LOADING */
#messagestack .loading {
  background-color: #fffdea;
  border-color: #feee38;
  color: #feee38}
#messagestack .loading>i.icon:before {
  color: #feee38}